/******************************************************************************
* personalization box
******************************************************************************/

.bodywrapper .personalizationbox {
 overflow: hidden;
 background :#eaeaea url(images/targeting-overlay.png) top left;
 color:#f00;
 border: 3px dashed #ccc;
 font-weight:bold;
}
