/******************************************************************************
* personalization box
******************************************************************************/

.bodywrapper .personalizationbox {
 overflow: hidden;
 background : url(images/targeting-overlay.png) top left;
 border: 3px dashed #ccc;
 padding: 5px;
 font-weight:bold;
}
