<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean name="TrackingDataFactory" class="org.jahia.modules.personalization.tracking.TrackingDataFactory">
        <property name="propertyDefinitions">
            <map>
                <entry key="timeOnPage">
                    <bean class="org.jahia.modules.personalization.tracking.TrackingDataPropertyDefinition">
                        <property name="multivalued" value="true"/>
                        <property name="timestamped" value="true"/>
                        <property name="name" value="timeOnPage"/>
                    </bean>
                </entry>
            </map>
        </property>
        <property name="ignoredProperties">
            <list>
                <value>jcr:.*</value>
                <value>j:originWS</value>
                <value>j:nodename</value>
            </list>
        </property>
    </bean>

    <bean name="TrackingService" class="org.jahia.modules.personalization.tracking.TrackingService">
        <property name="jahiaUserManagerService" ref="JahiaUserManagerService"/>
        <property name="trackingDataFactory" ref="TrackingDataFactory"/>
    </bean>

    <bean class="org.jahia.modules.personalization.tracking.TrackingHelper" factory-method="getInstance">
        <property name="trackingService" ref="TrackingService"/>
    </bean>

    <bean id="trackingRendererInterceptor" class="org.jahia.modules.personalization.tracking.TrackingHandlerInterceptor">
        <property name="trackingCookieName" value="${jahiaTrackingCookieName:jahiaTrackingID}"/>
        <property name="trackingSessionName"
                  value="${jahiaTrackingSessionName:org.jahia.modules.personalization.trackingData}"/>
        <property name="trackingService" ref="TrackingService"/>
        <property name="trackers">
            <list>
                <bean class="org.jahia.modules.personalization.tracking.trackers.SpamPostLimiterTracker">
                    <property name="lastPostLoadAverageLimit" value="0.4" />
                </bean>
                <bean class="org.jahia.modules.personalization.tracking.trackers.UrlAndRefererTracker"/>
                <bean class="org.jahia.modules.personalization.tracking.trackers.HostAndIpAddressTracker"/>
                <bean class="org.jahia.modules.personalization.tracking.trackers.UserAgentTracker"/>
                <bean class="org.jahia.modules.personalization.tracking.trackers.LocalesTracker"/>
                <bean class="org.jahia.modules.personalization.tracking.trackers.LastAccessTracker" />
                <bean class="org.jahia.modules.personalization.tracking.trackers.OperatingSystemTracker" />
                <bean class="org.jahia.modules.personalization.tracking.trackers.BrowserTracker" />
            </list>
        </property>
    </bean>

    <bean class="org.jahia.modules.personalization.tracking.TrackingEventListener">
        <property name="trackingHandlerInterceptor" ref="trackingRendererInterceptor"/>
        <property name="schedulerService" ref="SchedulerService"/>
        <property name="trackingService" ref="TrackingService"/>
    </bean>

</beans>